body{
  background-image:url("images/bg.png");
  background-size: 100%;
}

#header{
  height:12%;
  position:fixed;
  display:block;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index:8;
  text-align:left;
}


#header-image > .logo{
  width:50%;
  margin-bottom: 25px ;
}

h1 {
  color: white;
}

.btn-default h1 {
  color: black;
}
.jumbotron.one {
    width: 100%;
    background-image: url("images/bigstock-Vegetables.png");
}

.slide {
    align-content: center;
}

.food {
    text-align: center;
}
